.cat1 {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.cat1 div {
  flex: 1;
  padding: 10px;
  text-align: center;
  transition: all 0.3s ease;
  border: 2px solid black;
  border-radius: 8px;
}

.cat1 div:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
}

.cat1 img {
  width: 200px;
  height: 200px;
}